@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --gray: #d6d6d6;
    --beige: #968080;
    --light-beige: #d9d9d9;
    --purple: #58129b;
    --light-purple: #b985ee;
}

html {
    font-family: "Rubik", sans-serif !important;
    font-optical-sizing: auto;
    font-size: 16px;
    color: #000;
}

body {
    margin: 0;
}

.container {
    padding: 0 140px;
}

.beige {
    color: var(--beige) !important;
}

button {
    font-family: inherit !important;
    background: inherit;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    border-radius: inherit;
    border: inherit;
    outline: none;
}

.common-button {
    background: #000;
    color: #fff;
    padding: 10px 60px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s;
}

.common-button:hover {
    background: var(--purple);
}

.common-button:active {
    background: var(--light-purple);
}

.common-button:disabled {
    background: var(--light-beige);
}